<!-- 页脚 -->
<footer class="container mx-auto py-8 px-4 text-sm text-center text-gray-500">
  <div class="flex justify-between">
    <div class="flex items-center">
      <img src="assets/Link.png" alt="Logo" class="h-4" style="margin-right: 10px;">联系方式：T:1388209028
    </div>
    <!-- 悬浮图标按钮组 -->
    <div class="flex flex-row bottom-6 right-4 gap-4">
      <!-- 社交媒体按钮 -->
      <button>
        <img src="assets/dy.png" alt="Logo" class="h-7">
      </button>
      <button>
        <img src="assets/qq.png" alt="Logo" class="h-7">
      </button>
      <button>
        <img src="assets/wx.png" alt="Logo" class="h-7">
      </button>
    </div>
  </div>
  <hr class="my-5" />
  <div class="flex justify-between items-center">
    <p class="mt-2">Copyright © 2025 zhixdraw. All rights reserved.</p>
    <p>china</p>
  </div>
</footer>